body {
  //font-family: $montserrat;
  //color: rgba($black, 0.8);
  //background-color: $bg-gray;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden-title {
  visibility: hidden;
  height: 0;
}


.default-section {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dee2e6;

  @include laptop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include mobile-large {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.d-block {
  display: block;
}

@include mobile-large {
  .d-sm-block {
    display: block;
  }
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.text-center {
  text-align: center !important;
}

@include tablet {
  .text-md-center {
    text-align: center !important;
  }
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
@include tablet {
  .text-md-left {
    text-align: left;
  }
}


.btn-menu {
  display: none;
  font-size: 24px;
  line-height: 46px;
  padding: 0 12px;
  cursor: pointer;
  transition: color .2s ease-in-out;
  z-index: 11;

  @include tablet {
    display: inline-block;
  }
}